@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* -------------------------------- 

Primary style

-------------------------------- */
/* line 20, ../sass/screen.scss */
* {
  box-sizing: border-box;
}
/* line 22, ../sass/screen.scss */
*::after, *::before {
  box-sizing: border-box;
}

/* line 28, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 32, ../sass/screen.scss */
body {
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #3e454c;
  background-color: #ffffff;
}
/* line 37, ../sass/screen.scss */
body::after {
  clear: both;
  content: "";
  display: table;
}

/* line 44, ../sass/screen.scss */
a {
  color: #1784c7;
  text-decoration: none;
}

/* line 49, ../sass/screen.scss */
input {
  font-family: "Open Sans", sans-serif;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  resize: vertical;
  font-size: 1.6rem;
}
/* line 58, ../sass/screen.scss */
input[type="search"] {
  background: #fff url(../img/search.png) no-repeat 9px center;
  padding: 10px 10px 10px 35px;
  width: 55px;
  font-size: 22px;
  font-weight: 500;
  color: #acadac;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  width: 100%;
}
/* line 70, ../sass/screen.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* line 79, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* -------------------------------- 

Main Page Content

-------------------------------- */
/* line 101, ../sass/screen.scss */
.cd-main-content .content-wrapper {
  padding: 45px 5% 3em;
}
/* line 103, ../sass/screen.scss */
.cd-main-content .content-wrapper h1 {
  text-align: center;
  padding: 3em 0;
  font-size: 2rem;
}
/* line 109, ../sass/screen.scss */
.cd-main-content::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}

@media only screen and (min-width: 768px) {
  /* line 118, ../sass/screen.scss */
  .cd-main-content .content-wrapper {
    margin-left: 40px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  /* line 123, ../sass/screen.scss */
  .cd-main-content .content-wrapper h1 {
    padding: 4em 0;
    font-size: 3.2rem;
    font-weight: 300;
  }
  /* line 129, ../sass/screen.scss */
  .cd-main-content::before {
    content: 'tablet';
  }

  /* line 133, ../sass/screen.scss */
  .inner {
    background: #f2f2f2;
  }
}
@media screen and (max-width: 998px) and (min-width: 770px) {
  /* line 140, ../sass/screen.scss */
  .inner {
    background: #f2f2f2;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 148, ../sass/screen.scss */
  .cd-main-content .content-wrapper {
    margin-left: 60px;
    padding-right: 0;
    padding-left: 40px;
    background: #f2f2f2;
  }
  /* line 154, ../sass/screen.scss */
  .cd-main-content::before {
    content: 'desktop';
  }
}
/* -------------------------------- 

Header

-------------------------------- */
/* line 180, ../sass/screen.scss */
.cd-main-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background: #3e454c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 191, ../sass/screen.scss */
.cd-main-header::after {
  clear: both;
  content: "";
  display: table;
}

@media only screen and (min-width: 768px) {
  /* line 199, ../sass/screen.scss */
  .cd-main-header {
    position: fixed;
    height: 0;
  }
}
/* line 205, ../sass/screen.scss */
.cd-logo {
  float: left;
  display: block;
  margin: 11px 0 0 5%;
}
/* line 209, ../sass/screen.scss */
.cd-logo img {
  display: block;
}

@media only screen and (min-width: 768px) {
  /* line 215, ../sass/screen.scss */
  .cd-logo {
    margin: 16px 0 0 36px;
  }
}
/* line 220, ../sass/screen.scss */
.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  float: right;
  position: relative;
  display: block;
  width: 34px;
  height: 44px;
  margin-right: 5%;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
/* line 232, ../sass/screen.scss */
.cd-nav-trigger span {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #ffffff;
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -2px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
/* line 239, ../sass/screen.scss */
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #ffffff;
}
/* line 256, ../sass/screen.scss */
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
/* line 278, ../sass/screen.scss */
.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -6px;
}
/* line 282, ../sass/screen.scss */
.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}
/* line 287, ../sass/screen.scss */
.cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(255, 255, 255, 0);
}
/* line 290, ../sass/screen.scss */
.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: white;
}
/* line 295, ../sass/screen.scss */
.cd-nav-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
/* line 302, ../sass/screen.scss */
.cd-nav-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}

@media only screen and (min-width: 768px) {
  /* line 313, ../sass/screen.scss */
  .cd-nav-trigger {
    display: none;
  }
}
/* -------------------------------- 

Top Navigation

-------------------------------- */
/* line 337, ../sass/screen.scss */
.cd-nav {
  /* top nav - not visible on mobile devices */
  display: none;
}

@media only screen and (min-width: 768px) {
  /* line 343, ../sass/screen.scss */
  .cd-nav {
    display: block;
    float: right;
    height: 100%;
  }
}
/* line 352, ../sass/screen.scss */
.cd-top-nav > li > a::before {
  /* reset style */
  display: none;
}
/* line 356, ../sass/screen.scss */
.cd-top-nav > li a {
  padding: 1em 5% !important;
}
/* line 360, ../sass/screen.scss */
.cd-top-nav img {
  /* avatar image */
  position: absolute;
  left: 1.8em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: none;
}

@media only screen and (min-width: 768px) {
  /* line 379, ../sass/screen.scss */
  .cd-top-nav {
    height: 100%;
  }
  /* line 381, ../sass/screen.scss */
  .cd-top-nav a {
    display: block;
    font-size: 1.4rem;
    color: #ffffff;
  }
  /* line 386, ../sass/screen.scss */
  .cd-top-nav > li {
    display: inline-block;
    margin-right: 1em;
    height: 100%;
  }
  /* line 390, ../sass/screen.scss */
  .cd-top-nav > li:last-of-type {
    margin-right: 0;
  }
  /* line 393, ../sass/screen.scss */
  .cd-top-nav > li a {
    padding: 1em .6em !important;
  }
  /* line 397, ../sass/screen.scss */
  .cd-top-nav img {
    display: block;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 404, ../sass/screen.scss */
  .cd-top-nav li:not(.has-children) a:hover {
    color: #1784c7;
  }
}
/* -------------------------------- 

Sidebar

-------------------------------- */
/* line 422, ../sass/screen.scss */
.cd-side-nav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: 45px 0 0;
  background-color: #2c3136;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
/* line 439, ../sass/screen.scss */
.cd-side-nav.nav-is-visible {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
  max-height: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
/* line 450, ../sass/screen.scss */
.cd-side-nav > ul {
  padding: 0.6em 0;
}
/* line 452, ../sass/screen.scss */
.cd-side-nav > ul:last-of-type {
  padding-bottom: 0;
}
/* line 456, ../sass/screen.scss */
.cd-side-nav .cd-label,
.cd-side-nav a {
  display: block;
  padding: 1em 5%;
}
/* line 461, ../sass/screen.scss */
.cd-side-nav .cd-label {
  text-transform: uppercase;
  font-weight: bold;
  color: #353531;
  font-size: 1rem;
  letter-spacing: .1em;
}
/* line 468, ../sass/screen.scss */
.cd-side-nav a {
  position: relative;
  color: #ffffff;
  font-size: 1.4rem;
}
/* line 473, ../sass/screen.scss */
.cd-side-nav ul.cd-top-nav > li:last-of-type > a {
  border-bottom: none;
}
/* line 477, ../sass/screen.scss */
.cd-side-nav > ul > li > a {
  padding-left: calc(5% + 24px);
  border-bottom: 1px solid #373d44;
}
/* line 480, ../sass/screen.scss */
.cd-side-nav > ul > li > a::before {
  /* icon before item name */
  position: absolute;
  content: '';
  left: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
}

@media only screen and (min-width: 768px) {
  /* line 500, ../sass/screen.scss */
  .cd-side-nav {
    position: relative;
    float: left;
    top: auto;
    width: 110px;
    min-height: 100vh;
    padding-top: 0;
    /* reset style */
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: none;
  }
  /* line 512, ../sass/screen.scss */
  .cd-side-nav.nav-is-visible {
    box-shadow: none;
  }
  /* line 515, ../sass/screen.scss */
  .cd-side-nav.is-fixed {
    position: fixed;
  }
  /* line 518, ../sass/screen.scss */
  .cd-side-nav > ul {
    /* reset style */
    padding: 0;
  }
  /* line 523, ../sass/screen.scss */
  .cd-side-nav a {
    font-size: 1.2rem;
    text-align: center;
  }
  /* line 527, ../sass/screen.scss */
  .cd-side-nav > ul > li > a {
    padding: calc(2.2em + 24px) 0 2.4em;
  }
  /* line 529, ../sass/screen.scss */
  .cd-side-nav > ul > li > a::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 2.4em;
  }
  /* line 540, ../sass/screen.scss */
  .cd-side-nav .active > a {
    /* current page */
    box-shadow: inset 3px 0 0 #1784c7;
    background-color: #33383e;
  }
}
@media only screen and (min-width: 778px) {
  /* line 549, ../sass/screen.scss */
  .cd-side-nav {
    width: 100px;
  }
  /* line 550, ../sass/screen.scss */
  .cd-side-nav .logo {
    height: 50px;
    background-color: #3cb1e6;
  }
  /* line 555, ../sass/screen.scss */
  .cd-side-nav > ul {
    padding: 0.6em 0;
  }
  /* line 558, ../sass/screen.scss */
  .cd-side-nav > ul > li:hover > a {
    background-color: #f2f2f2;
    border-left-color: #16aa4a !important;
    border-color: transparent;
    transition: .4s all ease;
  }
  /* line 564, ../sass/screen.scss */
  .cd-side-nav > ul > li:hover div {
    background-color: #3cb1e6;
    color: #fff;
  }
  /* line 568, ../sass/screen.scss */
  .cd-side-nav > ul > li:hover div span {
    z-index: 1;
  }
  /* line 571, ../sass/screen.scss */
  .cd-side-nav > ul > li a.active {
    background-color: #f2f2f2;
    border-left-color: #16aa4a !important;
    border-color: transparent;
  }
  /* line 576, ../sass/screen.scss */
  .cd-side-nav > ul > li a.active div {
    color: #fff !important;
    background: #3cb1e6;
  }
  /* line 580, ../sass/screen.scss */
  .cd-side-nav > ul > li > a {
    padding: 2em .5em;
    text-align: center;
    border-left: 4px solid transparent;
    display: flex;
    transition: .4s all ease;
  }
  /* line 586, ../sass/screen.scss */
  .cd-side-nav > ul > li > a div {
    height: 50px;
    width: 50px;
    line-height: 50px;
    background: #5a5a57;
    border-radius: 50%;
    overflow: hidden;
    font-size: 20px;
    color: #838482;
    text-shadow: 1px 1px #484844, 2px 2px #484844, 3px 3px #484844, 4px 4px #484844, 5px 5px #484844, 6px 6px #484844, 7px 7px #484844, 8px 8px #484844, 9px 9px #484844, 10px 10px #484844, 11px 11px #484844, 12px 12px #484844, 13px 13px #484844, 14px 14px #484844, 15px 15px #484844, 16px 16px #484844, 17px 17px #484844, 18px 18px #484844, 19px 19px #484844, 20px 20px #484844, 21px 21px #484844, 22px 22px #484844, 23px 23px #484844, 24px 24px #484844, 25px 25px #484844, 26px 26px #484844, 27px 27px #484844, 28px 28px #484844, 29px 29px #484844, 30px 30px #484844, 31px 31px #484844, 32px 32px #484844, 33px 33px #484844, 34px 34px #484844, 35px 35px #484844, 36px 36px #484844, 37px 37px #484844, 38px 38px #484844, 39px 39px #484844, 40px 40px #484844, 41px 41px #484844, 42px 42px #484844, 43px 43px #484844, 44px 44px #484844, 45px 45px #484844, 46px 46px #484844, 47px 47px #484844, 48px 48px #484844;
  }
  /* line 628, ../sass/screen.scss */
  .cd-side-nav > ul > li > a div span {
    position: absolute;
    background: #E74C3C;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    top: 35px;
    right: 20px;
    line-height: 25px;
    overflow: hidden;
    text-shadow: none;
    border: 1px solid transparent;
    z-index: -1;
    color: #868683;
  }
  /* line 646, ../sass/screen.scss */
  .cd-side-nav > ul > li > a div img {
    vertical-align: middle;
  }
  /* line 652, ../sass/screen.scss */
  .cd-side-nav > ul > li a div.user-profile span {
    background-color: green;
    color: #fff;
  }
  /* line 656, ../sass/screen.scss */
  .cd-side-nav > ul > li:nth-child(2) a div span,
  .cd-side-nav > ul > li:nth-child(4) a div span {
    background-color: #373836;
    border-color: #545450;
    content: '+';
    font-weight: bold;
  }
  /* line 664, ../sass/screen.scss */
  .cd-side-nav > ul > li:nth-child(3) a div span {
    background-color: #50514f;
    border-color: #50514f;
    content: '+';
    font-weight: bold;
  }
  /* line 671, ../sass/screen.scss */
  .cd-side-nav .cd-label {
    display: block;
    padding: 0;
  }

  /* line 676, ../sass/screen.scss */
  .no-touch .cd-side-nav .action-btn a:hover {
    background-color: #1a93de;
  }

  /* line 679, ../sass/screen.scss */
  .cd-side-nav .count {
    /* reset style */
    color: #ffffff;
    height: auto;
    width: auto;
    border-radius: .25em;
    padding: .2em .4em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
    left: auto;
    box-shadow: none;
  }
}
/* line 700, ../sass/screen.scss */
.btn {
  border: none;
  display: inline-block;
  padding: 12px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  color: #363633;
  background-color: #ebebea;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  transition: .4s all ease;
}
/* line 719, ../sass/screen.scss */
.btn:hover {
  background: #3cb1e6;
  color: #fff;
  transition: .4s all ease;
}

/* line 726, ../sass/screen.scss */
.inner {
  padding: 20px;
}

/* line 731, ../sass/screen.scss */
.selected-text {
  background: #ebf7fc;
}

/* line 739, ../sass/screen.scss */
.media {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
/* line 747, ../sass/screen.scss */
.media .user-name {
  margin-top: 15px;
  font-weight: 600;
}
/* line 751, ../sass/screen.scss */
.media .date {
  font-weight: 300;
  font-style: italic;
}
/* line 756, ../sass/screen.scss */
.media .media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 761, ../sass/screen.scss */
.media .media-body h5 {
  margin-left: 15px;
  font-weight: 600;
  font-size: 18px;
  text-overflow: ellipsis;
}
/* line 767, ../sass/screen.scss */
.media .media-body h5 .tag {
  padding: 2px 12px;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  color: #747474;
  margin-left: 15px;
  font-weight: 500;
  font-size: 14px;
}
/* line 777, ../sass/screen.scss */
.media .media-body p {
  margin: 0 15px;
  color: #5d5e5c;
}
/* line 780, ../sass/screen.scss */
.media .media-body p span {
  text-decoration: underline;
  margin: 0;
  color: #5d5e5c;
  text-transform: inherit;
  text-decoration-color: #8f908f;
}
/* line 787, ../sass/screen.scss */
.media .media-body p a {
  text-decoration: underline;
  margin: 0;
  color: #9a9a9a;
  text-transform: inherit;
  text-decoration-color: #adadad;
  font-weight: 400;
  font-size: inherit;
}
/* line 797, ../sass/screen.scss */
.media .media-body a {
  text-decoration: underline;
  text-transform: uppercase;
  margin: 10px 15px;
  color: #3482a5;
  font-size: 14px;
  font-weight: 600;
}
/* line 805, ../sass/screen.scss */
.media .media-body .chip {
  display: inline-block;
  padding: 0 5px;
  font-size: 14px;
  margin: 10px 15px;
  background-color: #666666;
  color: #fff;
}
/* line 814, ../sass/screen.scss */
.media .media-body .chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
/* line 822, ../sass/screen.scss */
.media .media-body .closebtn {
  padding-left: 10px;
  color: #ffffff;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}
/* line 831, ../sass/screen.scss */
.media .media-body .closebtn:hover {
  color: #000;
}
/* line 834, ../sass/screen.scss */
.media .media-body .user-para {
  color: #7d7d7c;
  font-size: 18px;
  font-weight: 300;
}
/* line 841, ../sass/screen.scss */
.media .media-body .under {
  margin: 0 15px;
  color: #adadad;
}
/* line 844, ../sass/screen.scss */
.media .media-body .under a {
  text-decoration: underline;
  text-transform: capitalize;
  color: #666666;
  margin: 0;
}
/* line 853, ../sass/screen.scss */
.media .media-body .striked * {
  margin-left: 0;
}
/* line 858, ../sass/screen.scss */
.media .media-body .striked p {
  text-decoration: line-through;
}
/* line 862, ../sass/screen.scss */
.media .media-body .striked .under a {
  margin-left: 15px;
  text-decoration: none;
}
/* line 869, ../sass/screen.scss */
.media .media-body .nonstrike-holder * {
  margin-left: 0;
}
/* line 873, ../sass/screen.scss */
.media .media-body .nonstrike-holder .under a {
  margin-left: 15px;
  text-decoration: none;
}

/* line 884, ../sass/screen.scss */
.card {
  background: white;
  margin-bottom: 2em;
  transition: .5s all ease;
}
/* line 888, ../sass/screen.scss */
.card:hover {
  box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.25);
  transition: .5s all ease;
}

/* line 902, ../sass/screen.scss */
.card-content {
  padding: 1.4em 0;
}

/* line 907, ../sass/screen.scss */
.card-content h2 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: 600;
  color: #373733;
  text-transform: lowercase;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 916, ../sass/screen.scss */
.card-content h2 .tag {
  padding: 2px 12px;
  border: 1px solid;
  text-transform: uppercase;
  color: #858585;
  font-weight: 500;
  margin-left: 20px;
  font-size: 14px;
}
/* line 926, ../sass/screen.scss */
.card-content p {
  color: #9b9b9a;
}
/* line 928, ../sass/screen.scss */
.card-content p a {
  color: #9b9b9a;
  text-transform: capitalize;
  text-decoration: underline;
  margin-bottom: 15px;
}
/* line 935, ../sass/screen.scss */
.card-content a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: #3482a5;
  font-size: 14px;
  font-weight: 600;
}

/* line 945, ../sass/screen.scss */
.card-content p {
  font-size: 80%;
}

/* Flexbox stuff */
/* line 990, ../sass/screen.scss */
.cards {
  display: flex;
  flex-wrap: wrap;
}

/* line 995, ../sass/screen.scss */
.card {
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: .25rem 1em;
}
/* line 999, ../sass/screen.scss */
.card img {
  width: 100%;
}

@media screen and (min-width: 40em) {
  /* line 1005, ../sass/screen.scss */
  .card {
    max-width: calc(50% - 1em);
  }
}
@media screen and (min-width: 60em) {
  /* line 1011, ../sass/screen.scss */
  .card {
    max-width: calc(25% - 1em);
  }
}
/* line 1016, ../sass/screen.scss */
.centered {
  margin: 0 auto;
  padding: 0 1em;
}

@media screen and (min-width: 52em) {
  /* line 1022, ../sass/screen.scss */
  .centered {
    max-width: 52em;
  }
}
@media screen and (max-width: 778px) {
  /* line 1028, ../sass/screen.scss */
  .card {
    flex: 1;
  }

  /* line 1031, ../sass/screen.scss */
  .datas {
    padding: 0 !important;
  }

  /* line 1034, ../sass/screen.scss */
  .media {
    flex-direction: column;
  }
  /* line 1036, ../sass/screen.scss */
  .media img {
    margin-left: 15px;
  }
  /* line 1041, ../sass/screen.scss */
  .media .user-name {
    margin-left: 15px;
  }
  /* line 1044, ../sass/screen.scss */
  .media .date {
    margin-left: 15px;
  }
  /* line 1047, ../sass/screen.scss */
  .media .media-body .nonstrike-holder * {
    margin-left: 15px;
  }
}
/* The container */
/* line 1072, ../sass/screen.scss */
.search-result {
  width: 100%;
  padding: 10px 0;
  background: #d8d8d8;
}
/* line 1076, ../sass/screen.scss */
.search-result h2 {
  padding-left: 20px;
  color: #2b2d2b;
  font-size: 30px;
}
/* line 1080, ../sass/screen.scss */
.search-result h2 span {
  font-weight: 300;
}

/* line 1088, ../sass/screen.scss */
.checkbox-holder {
  margin: 15px 0;
}

/*ΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇö
Global
ΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇö*/
/*ΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇö
TimeLine CSS
ΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇö*/
/* Base */
/* line 1130, ../sass/screen.scss */
#content {
  margin-top: 50px;
  text-align: center;
}

/* line 1135, ../sass/screen.scss */
section.timeline-outer {
  width: 80%;
  margin: 0 auto;
}

/* line 1140, ../sass/screen.scss */
h1.header {
  font-size: 50px;
  line-height: 70px;
}

/* Timeline */
/* line 1153, ../sass/screen.scss */
.timeline-wrapper {
  margin-top: 40px;
  padding: 0 0 0 75px;
  background: #fff;
}

/* line 1159, ../sass/screen.scss */
.timeline {
  border-left: 4px solid #e5e5e5;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  color: #333;
  margin: 0 auto 50px;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 0;
  list-style: none;
  text-align: left;
}

/* line 1174, ../sass/screen.scss */
.timeline .event {
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

/* line 1181, ../sass/screen.scss */
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

/* line 1187, ../sass/screen.scss */
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

/* line 1194, ../sass/screen.scss */
.timeline .event:before {
  left: -40px;
  color: #666666;
  content: attr(data-date);
  text-align: right;
  font-weight: 700;
  font-size: 14px;
  top: 80px;
  background: #e5e5e5;
  padding: 5px 10px;
  margin: 0 auto;
}

/* line 1207, ../sass/screen.scss */
.timeline .event:after {
  left: -25px;
  background: #3cb1e6;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  content: "";
  background: url("../img/timeline/1.png") no-repeat;
  top: 20px;
  background-position: center;
  background-color: #3cb1e6;
}

/* line 1222, ../sass/screen.scss */
.timeline li.event:nth-child(4):after {
  background: url("../img/timeline/2.png") no-repeat;
  background-position: center;
  background-color: #3cb1e6;
}

/* line 1229, ../sass/screen.scss */
.timeline li.event:nth-child(5):after {
  background: url("../img/timeline/3.png") no-repeat;
  background-position: center;
  background-color: #3cb1e6;
}

/**/
/*ΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇö
Responsive Stuff
ΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇö*/
@media (max-width: 1170px) {
  /* line 1252, ../sass/screen.scss */
  .timeline-wrapper {
    padding: 40px;
  }

  /* line 1255, ../sass/screen.scss */
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }

  /* line 1261, ../sass/screen.scss */
  .timeline h3 {
    font-size: 16px;
  }

  /* line 1264, ../sass/screen.scss */
  .timeline p {
    padding-top: 20px;
  }

  /* line 1267, ../sass/screen.scss */
  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  /* line 1274, ../sass/screen.scss */
  .timeline .event::before {
    top: 80px;
    left: -40px;
  }

  /* line 1278, ../sass/screen.scss */
  .timeline .event:nth-child(1)::before,
  .timeline .event:nth-child(3)::before,
  .timeline .event:nth-child(5)::before {
    top: 80px;
    left: -40px;
  }

  /* line 1284, ../sass/screen.scss */
  .timeline h3 {
    font-size: 16px;
  }

  /* line 1287, ../sass/screen.scss */
  .timeline p {
    padding-top: 20px;
  }
}
/* line 1292, ../sass/screen.scss */
.datas:first-child {
  padding-top: 25px;
}

/* line 1296, ../sass/screen.scss */
.datas:last-child {
  padding-bottom: 25px;
}

/* line 1300, ../sass/screen.scss */
.datas {
  padding: 0 25px;
  margin-left: 30px;
}

/* Hide the browser's default checkbox */
/* line 1313, ../sass/screen.scss */
.container {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: capitalize;
}

/* line 1327, ../sass/screen.scss */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  max-width: 100%;
}

/* Create a custom checkbox */
/* line 1346, ../sass/screen.scss */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #d8d8d8;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
/* line 1366, ../sass/screen.scss */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
/* Create the checkmark/indicator (hidden when not checked) */
/* line 1390, ../sass/screen.scss */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
/* line 1404, ../sass/screen.scss */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
/* line 1413, ../sass/screen.scss */
.container .checkmark:after {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 10px;
  background-color: #3cb1e6;
  border: solid #3cb1e6;
}

@media only screen and (max-width: 998px) {
  /* line 1429, ../sass/screen.scss */
  .container {
    display: block;
    margin: 10px 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1438, ../sass/screen.scss */
  .cd-side-nav > ul > li > a {
    padding: 10px;
  }

  /* line 1443, ../sass/screen.scss */
  .search-result h2 {
    font-size: 20px !important;
  }

  /* line 1447, ../sass/screen.scss */
  .inner {
    padding: 20px;
    background: #f2f2f2;
  }

  /* line 1451, ../sass/screen.scss */
  .cd-main-content .content-wrapper {
    padding: 45px 0 0;
  }

  /* line 1454, ../sass/screen.scss */
  .cards {
    display: block;
  }

  /* line 1457, ../sass/screen.scss */
  .media .media-body h5 .tag {
    display: block;
    width: 50px;
    margin: 10px 0;
  }

  /* line 1462, ../sass/screen.scss */
  .card-content h2 .tag {
    display: block;
    width: 50px;
    margin: 10px 0;
  }

  /* line 1467, ../sass/screen.scss */
  .card:hover {
    box-shadow: none;
    transition: .5s all ease;
  }
}

/*# sourceMappingURL=screen.css.map */
