@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* -------------------------------- 

Primary style

-------------------------------- */
/* line 18, ../sass/screen.scss */
* {
  box-sizing: border-box;
}
/* line 20, ../sass/screen.scss */
*::after, *::before {
  box-sizing: border-box;
}

/* line 26, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 30, ../sass/screen.scss */
body {
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #3e454c;
  background-color: #ffffff;
}
/* line 35, ../sass/screen.scss */
body::after {
  clear: both;
  content: "";
  display: table;
}

/* line 42, ../sass/screen.scss */
a {
  color: #1784c7;
  text-decoration: none;
}

/* line 47, ../sass/screen.scss */
input {
  font-family: "Open Sans", sans-serif;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  resize: vertical;
  font-size: 1.6rem;
}
/* line 56, ../sass/screen.scss */
input[type="search"] {
  background: #fff url(../img/search.png) no-repeat 9px center;
  padding: 10px 10px 10px 35px;
  width: 55px;
  font-size: 22px;
  font-weight: 500;
  color: #acadac;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  width: 100%;
}
/* line 68, ../sass/screen.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* line 77, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* -------------------------------- 

Main Page Content

-------------------------------- */
/* line 97, ../sass/screen.scss */
.cd-main-content .content-wrapper {
  padding: 45px 5% 3em;
}
/* line 99, ../sass/screen.scss */
.cd-main-content .content-wrapper h1 {
  text-align: center;
  padding: 3em 0;
  font-size: 2rem;
}
/* line 105, ../sass/screen.scss */
.cd-main-content::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}

@media only screen and (min-width: 768px) {
  /* line 114, ../sass/screen.scss */
  .cd-main-content .content-wrapper {
    margin-left: 40px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  /* line 119, ../sass/screen.scss */
  .cd-main-content .content-wrapper h1 {
    padding: 4em 0;
    font-size: 3.2rem;
    font-weight: 300;
  }
  /* line 125, ../sass/screen.scss */
  .cd-main-content::before {
    content: 'tablet';
  }

  /* line 129, ../sass/screen.scss */
  .inner {
    background: #f2f2f2;
  }
}
@media screen and (max-width: 998px) and (min-width: 770px) {
  /* line 136, ../sass/screen.scss */
  .inner {
    background: #f2f2f2;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 144, ../sass/screen.scss */
  .cd-main-content .content-wrapper {
    margin-left: 60px;
    padding-right: 0;
    padding-left: 40px;
    background: #f2f2f2;
  }
  /* line 150, ../sass/screen.scss */
  .cd-main-content::before {
    content: 'desktop';
  }
}
/* -------------------------------- 

Header

-------------------------------- */
/* line 174, ../sass/screen.scss */
.cd-main-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background: #3e454c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 185, ../sass/screen.scss */
.cd-main-header::after {
  clear: both;
  content: "";
  display: table;
}

@media only screen and (min-width: 768px) {
  /* line 193, ../sass/screen.scss */
  .cd-main-header {
    position: fixed;
    height: 0;
  }
}
/* line 199, ../sass/screen.scss */
.cd-logo {
  float: left;
  display: block;
  margin: 11px 0 0 5%;
}
/* line 203, ../sass/screen.scss */
.cd-logo img {
  display: block;
}

@media only screen and (min-width: 768px) {
  /* line 209, ../sass/screen.scss */
  .cd-logo {
    margin: 16px 0 0 36px;
  }
}
/* line 214, ../sass/screen.scss */
.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  float: right;
  position: relative;
  display: block;
  width: 34px;
  height: 44px;
  margin-right: 5%;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
/* line 226, ../sass/screen.scss */
.cd-nav-trigger span {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #ffffff;
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -2px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
/* line 233, ../sass/screen.scss */
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #ffffff;
}
/* line 250, ../sass/screen.scss */
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
/* line 272, ../sass/screen.scss */
.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -6px;
}
/* line 276, ../sass/screen.scss */
.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}
/* line 281, ../sass/screen.scss */
.cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(255, 255, 255, 0);
}
/* line 284, ../sass/screen.scss */
.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: white;
}
/* line 289, ../sass/screen.scss */
.cd-nav-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
/* line 296, ../sass/screen.scss */
.cd-nav-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}

@media only screen and (min-width: 768px) {
  /* line 307, ../sass/screen.scss */
  .cd-nav-trigger {
    display: none;
  }
}
/* line 312, ../sass/screen.scss */
.cd-search {
  position: relative;
  margin: 1.2em 5% 0.6em;
}
/* line 315, ../sass/screen.scss */
.cd-search.is-hidden {
  opacity: 0;
}
/* line 318, ../sass/screen.scss */
.cd-search::before {
  /* lens icon */
  content: '';
  position: absolute;
  left: 8px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: url(../img/cd-search.svg) no-repeat 0 0;
}
/* line 334, ../sass/screen.scss */
.cd-search input {
  padding-left: 32px;
  width: 100%;
  height: 36px;
  border: none;
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 345, ../sass/screen.scss */
.cd-search input:focus {
  outline: none;
}

@media only screen and (min-width: 768px) {
  /* line 352, ../sass/screen.scss */
  .cd-search {
    float: left;
    display: inline-block;
    width: 250px;
    height: 100%;
    margin: 0 0 0 2.5em;
  }
  /* line 358, ../sass/screen.scss */
  .cd-search.is-hidden {
    /* reset style */
    opacity: 1;
  }
  /* line 362, ../sass/screen.scss */
  .cd-search::before {
    background-position: 0 -16px;
    left: 1em;
  }
  /* line 366, ../sass/screen.scss */
  .cd-search form {
    height: 100%;
    width: 100%;
  }
  /* line 370, ../sass/screen.scss */
  .cd-search input {
    height: 100%;
    width: 100%;
    border: none;
    padding-left: 2.6em;
    border-radius: 0;
    background-color: #3e454c;
    border-left: 1px solid #51575d;
    color: #ffffff;
  }
  /* line 379, ../sass/screen.scss */
  .cd-search input::-webkit-input-placeholder, .cd-search input::-moz-placeholder, .cd-search input:-moz-placeholder, .cd-search input:-ms-input-placeholder {
    color: #777c81;
  }
}
/* -------------------------------- 

Top Navigation

-------------------------------- */
/* line 405, ../sass/screen.scss */
.cd-nav {
  /* top nav - not visible on mobile devices */
  display: none;
}

@media only screen and (min-width: 768px) {
  /* line 411, ../sass/screen.scss */
  .cd-nav {
    display: block;
    float: right;
    height: 100%;
  }
}
/* line 420, ../sass/screen.scss */
.cd-top-nav > li > a::before {
  /* reset style */
  display: none;
}
/* line 424, ../sass/screen.scss */
.cd-top-nav > li a {
  padding: 1em 5% !important;
}
/* line 428, ../sass/screen.scss */
.cd-top-nav img {
  /* avatar image */
  position: absolute;
  left: 1.8em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: none;
}

@media only screen and (min-width: 768px) {
  /* line 447, ../sass/screen.scss */
  .cd-top-nav {
    height: 100%;
  }
  /* line 449, ../sass/screen.scss */
  .cd-top-nav a {
    display: block;
    font-size: 1.4rem;
    color: #ffffff;
  }
  /* line 454, ../sass/screen.scss */
  .cd-top-nav > li {
    display: inline-block;
    margin-right: 1em;
    height: 100%;
  }
  /* line 458, ../sass/screen.scss */
  .cd-top-nav > li:last-of-type {
    margin-right: 0;
  }
  /* line 461, ../sass/screen.scss */
  .cd-top-nav > li a {
    padding: 1em .6em !important;
  }
  /* line 465, ../sass/screen.scss */
  .cd-top-nav img {
    display: block;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 472, ../sass/screen.scss */
  .cd-top-nav li:not(.has-children) a:hover {
    color: #1784c7;
  }
}
/* -------------------------------- 

Sidebar

-------------------------------- */
/* line 488, ../sass/screen.scss */
.cd-side-nav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: 45px 0 0;
  background-color: #2c3136;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
/* line 505, ../sass/screen.scss */
.cd-side-nav.nav-is-visible {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
  max-height: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
/* line 516, ../sass/screen.scss */
.cd-side-nav > ul {
  padding: 0.6em 0;
}
/* line 518, ../sass/screen.scss */
.cd-side-nav > ul:last-of-type {
  padding-bottom: 0;
}
/* line 522, ../sass/screen.scss */
.cd-side-nav .cd-label,
.cd-side-nav a {
  display: block;
  padding: 1em 5%;
}
/* line 527, ../sass/screen.scss */
.cd-side-nav .cd-label {
  text-transform: uppercase;
  font-weight: bold;
  color: #353531;
  font-size: 1rem;
  letter-spacing: .1em;
}
/* line 534, ../sass/screen.scss */
.cd-side-nav a {
  position: relative;
  color: #ffffff;
  font-size: 1.4rem;
}
/* line 539, ../sass/screen.scss */
.cd-side-nav ul.cd-top-nav > li:last-of-type > a {
  border-bottom: none;
}
/* line 543, ../sass/screen.scss */
.cd-side-nav > ul > li > a {
  padding-left: calc(5% + 24px);
  border-bottom: 1px solid #373d44;
}
/* line 546, ../sass/screen.scss */
.cd-side-nav > ul > li > a::before {
  /* icon before item name */
  position: absolute;
  content: '';
  left: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: url(../img/cd-nav-icons.svg) no-repeat 0 0;
}
/* line 563, ../sass/screen.scss */
.cd-side-nav > ul > li.overview > a::before {
  background-position: -64px 0;
}
/* line 566, ../sass/screen.scss */
.cd-side-nav > ul > li.notifications > a::before {
  background-position: -80px 0;
}
/* line 569, ../sass/screen.scss */
.cd-side-nav > ul > li.comments > a::before {
  background-position: -48px 0;
}
/* line 572, ../sass/screen.scss */
.cd-side-nav > ul > li.bookmarks > a::before {
  background-position: -32px 0;
}
/* line 575, ../sass/screen.scss */
.cd-side-nav > ul > li.images > a::before {
  background-position: 0 0;
}
/* line 578, ../sass/screen.scss */
.cd-side-nav > ul > li.users > a::before {
  background-position: -16px 0;
}
/* line 582, ../sass/screen.scss */
.cd-side-nav .count {
  /* notification badge */
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: calc(5% + 16px + 0.4em);
  padding: 0.2em 0.4em;
  background-color: #ff7e66;
  border-radius: .25em;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
/* line 601, ../sass/screen.scss */
.cd-side-nav .action-btn a {
  display: block;
  margin: 0 5%;
  padding: 1em 0;
  background-color: #1784c7;
  border-radius: .25em;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
/* line 612, ../sass/screen.scss */
.cd-side-nav .action-btn a::before {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* line 619, ../sass/screen.scss */
  .cd-side-nav {
    position: relative;
    float: left;
    top: auto;
    width: 110px;
    min-height: 100vh;
    padding-top: 0;
    /* reset style */
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: none;
  }
  /* line 631, ../sass/screen.scss */
  .cd-side-nav.nav-is-visible {
    box-shadow: none;
  }
  /* line 634, ../sass/screen.scss */
  .cd-side-nav.is-fixed {
    position: fixed;
  }
  /* line 637, ../sass/screen.scss */
  .cd-side-nav > ul {
    /* reset style */
    padding: 0;
  }
  /* line 642, ../sass/screen.scss */
  .cd-side-nav a {
    font-size: 1.2rem;
    text-align: center;
  }
  /* line 646, ../sass/screen.scss */
  .cd-side-nav > ul > li > a {
    padding: calc(2.2em + 24px) 0 2.4em;
  }
  /* line 648, ../sass/screen.scss */
  .cd-side-nav > ul > li > a::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 2.4em;
  }
  /* line 659, ../sass/screen.scss */
  .cd-side-nav .active > a {
    /* current page */
    box-shadow: inset 3px 0 0 #1784c7;
    background-color: #33383e;
  }
  /* line 664, ../sass/screen.scss */
  .cd-side-nav .action-btn a {
    margin: 1em 10% 0;
  }
  /* line 667, ../sass/screen.scss */
  .cd-side-nav .count {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 0;
    top: 2em;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: calc(50% + 5px);
    right: auto;
    color: transparent;
  }
}
@media only screen and (min-width: 778px) {
  /* line 687, ../sass/screen.scss */
  .cd-side-nav {
    width: 100px;
  }
  /* line 688, ../sass/screen.scss */
  .cd-side-nav .logo {
    height: 50px;
    background-color: #3cb1e6;
  }
  /* line 693, ../sass/screen.scss */
  .cd-side-nav > ul {
    padding: 0.6em 0;
  }
  /* line 696, ../sass/screen.scss */
  .cd-side-nav > ul > li:hover > a {
    background-color: #f2f2f2;
    border-left-color: #16aa4a !important;
    border-color: transparent;
    transition: .4s all ease;
  }
  /* line 702, ../sass/screen.scss */
  .cd-side-nav > ul > li:hover div {
    background-color: #3cb1e6;
    color: #fff;
  }
  /* line 706, ../sass/screen.scss */
  .cd-side-nav > ul > li:hover div span {
    z-index: 1;
  }
  /* line 709, ../sass/screen.scss */
  .cd-side-nav > ul > li a.active {
    background-color: #f2f2f2;
    border-left-color: #16aa4a !important;
    border-color: transparent;
  }
  /* line 714, ../sass/screen.scss */
  .cd-side-nav > ul > li a.active div {
    color: #fff !important;
    background: #3cb1e6;
  }
  /* line 718, ../sass/screen.scss */
  .cd-side-nav > ul > li > a {
    padding: 2em .5em;
    text-align: center;
    border-left: 4px solid transparent;
    display: flex;
    transition: .4s all ease;
  }
  /* line 724, ../sass/screen.scss */
  .cd-side-nav > ul > li > a div {
    height: 50px;
    width: 50px;
    line-height: 50px;
    background: #5a5a57;
    border-radius: 50%;
    overflow: hidden;
    font-size: 20px;
    color: #838482;
    text-shadow: 1px 1px #484844, 2px 2px #484844, 3px 3px #484844, 4px 4px #484844, 5px 5px #484844, 6px 6px #484844, 7px 7px #484844, 8px 8px #484844, 9px 9px #484844, 10px 10px #484844, 11px 11px #484844, 12px 12px #484844, 13px 13px #484844, 14px 14px #484844, 15px 15px #484844, 16px 16px #484844, 17px 17px #484844, 18px 18px #484844, 19px 19px #484844, 20px 20px #484844, 21px 21px #484844, 22px 22px #484844, 23px 23px #484844, 24px 24px #484844, 25px 25px #484844, 26px 26px #484844, 27px 27px #484844, 28px 28px #484844, 29px 29px #484844, 30px 30px #484844, 31px 31px #484844, 32px 32px #484844, 33px 33px #484844, 34px 34px #484844, 35px 35px #484844, 36px 36px #484844, 37px 37px #484844, 38px 38px #484844, 39px 39px #484844, 40px 40px #484844, 41px 41px #484844, 42px 42px #484844, 43px 43px #484844, 44px 44px #484844, 45px 45px #484844, 46px 46px #484844, 47px 47px #484844, 48px 48px #484844;
  }
  /* line 766, ../sass/screen.scss */
  .cd-side-nav > ul > li > a div span {
    position: absolute;
    background: #E74C3C;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    top: 35px;
    right: 20px;
    line-height: 25px;
    overflow: hidden;
    text-shadow: none;
    border: 1px solid transparent;
    z-index: -1;
    color: #868683;
  }
  /* line 784, ../sass/screen.scss */
  .cd-side-nav > ul > li > a div img {
    vertical-align: middle;
  }
  /* line 790, ../sass/screen.scss */
  .cd-side-nav > ul > li a div.user-profile span {
    background-color: green;
    color: #fff;
  }
  /* line 794, ../sass/screen.scss */
  .cd-side-nav > ul > li:nth-child(2) a div span,
  .cd-side-nav > ul > li:nth-child(4) a div span {
    background-color: #373836;
    border-color: #545450;
    content: '+';
    font-weight: bold;
  }
  /* line 802, ../sass/screen.scss */
  .cd-side-nav > ul > li:nth-child(3) a div span {
    background-color: #50514f;
    border-color: #50514f;
    content: '+';
    font-weight: bold;
  }
  /* line 809, ../sass/screen.scss */
  .cd-side-nav .cd-label {
    display: block;
    padding: 0;
  }

  /* line 814, ../sass/screen.scss */
  .no-touch .cd-side-nav .action-btn a:hover {
    background-color: #1a93de;
  }

  /* line 817, ../sass/screen.scss */
  .cd-side-nav .count {
    /* reset style */
    color: #ffffff;
    height: auto;
    width: auto;
    border-radius: .25em;
    padding: .2em .4em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
    left: auto;
    box-shadow: none;
  }
}
/* line 838, ../sass/screen.scss */
.btn {
  border: none;
  display: inline-block;
  padding: 12px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  color: #363633;
  background-color: #ebebea;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  transition: .4s all ease;
}
/* line 857, ../sass/screen.scss */
.btn:hover {
  background: #3cb1e6;
  color: #fff;
  transition: .4s all ease;
}

/* line 864, ../sass/screen.scss */
.inner {
  padding: 20px;
}

/* line 869, ../sass/screen.scss */
.selected-text {
  background: #ebf7fc;
}

/* line 877, ../sass/screen.scss */
.media {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
/* line 885, ../sass/screen.scss */
.media .user-name {
  margin-top: 15px;
  font-weight: 600;
}
/* line 889, ../sass/screen.scss */
.media .date {
  font-weight: 300;
  font-style: italic;
}
/* line 894, ../sass/screen.scss */
.media .media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 899, ../sass/screen.scss */
.media .media-body h5 {
  margin-left: 15px;
  font-weight: 600;
  font-size: 18px;
  text-overflow: ellipsis;
}
/* line 906, ../sass/screen.scss */
.media .media-body h5 .tag {
  padding: 2px 12px;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  color: #747474;
  margin-left: 15px;
  font-weight: 500;
  font-size: 14px;
}
/* line 916, ../sass/screen.scss */
.media .media-body p {
  margin: 0 15px;
  color: #5d5e5c;
}
/* line 919, ../sass/screen.scss */
.media .media-body p span {
  text-decoration: underline;
  margin: 0;
  color: #5d5e5c;
  text-transform: inherit;
  text-decoration-color: #8f908f;
}
/* line 926, ../sass/screen.scss */
.media .media-body p a {
  text-decoration: underline;
  margin: 0;
  color: #9a9a9a;
  text-transform: inherit;
  text-decoration-color: #adadad;
  font-weight: 400;
  font-size: inherit;
}
/* line 936, ../sass/screen.scss */
.media .media-body a {
  text-decoration: underline;
  text-transform: uppercase;
  margin: 10px 15px;
  color: #3482a5;
  font-size: 14px;
  font-weight: 600;
}
/* line 944, ../sass/screen.scss */
.media .media-body .chip {
  display: inline-block;
  padding: 0 5px;
  font-size: 14px;
  margin: 10px 15px;
  background-color: #666666;
  color: #fff;
}
/* line 953, ../sass/screen.scss */
.media .media-body .chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
/* line 961, ../sass/screen.scss */
.media .media-body .closebtn {
  padding-left: 10px;
  color: #ffffff;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}
/* line 970, ../sass/screen.scss */
.media .media-body .closebtn:hover {
  color: #000;
}
/* line 973, ../sass/screen.scss */
.media .media-body .user-para {
  color: #7d7d7c;
  font-size: 18px;
  font-weight: 300;
}
/* line 980, ../sass/screen.scss */
.media .media-body .under {
  margin: 0 15px;
  color: #adadad;
}
/* line 983, ../sass/screen.scss */
.media .media-body .under a {
  text-decoration: underline;
  text-transform: capitalize;
  color: #666666;
  margin: 0;
}
/* line 992, ../sass/screen.scss */
.media .media-body .striked * {
  margin-left: 0;
}
/* line 997, ../sass/screen.scss */
.media .media-body .striked p {
  text-decoration: line-through;
}
/* line 1001, ../sass/screen.scss */
.media .media-body .striked .under a {
  margin-left: 15px;
  text-decoration: none;
}
/* line 1008, ../sass/screen.scss */
.media .media-body .nonstrike-holder * {
  margin-left: 0;
}
/* line 1012, ../sass/screen.scss */
.media .media-body .nonstrike-holder .under a {
  margin-left: 15px;
  text-decoration: none;
}

/* line 1023, ../sass/screen.scss */
.card {
  background: white;
  margin-bottom: 2em;
  transition: .5s all ease;
}
/* line 1027, ../sass/screen.scss */
.card:hover {
  box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.25);
  transition: .5s all ease;
}

/* line 1041, ../sass/screen.scss */
.card-content {
  padding: 1.4em 0;
}

/* line 1046, ../sass/screen.scss */
.card-content h2 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: 600;
  color: #373733;
  text-transform: lowercase;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 1057, ../sass/screen.scss */
.card-content h2 .tag {
  padding: 2px 12px;
  border: 1px solid;
  text-transform: uppercase;
  color: #858585;
  font-weight: 500;
  margin-left: 20px;
  font-size: 14px;
}
/* line 1067, ../sass/screen.scss */
.card-content p {
  color: #9b9b9a;
}
/* line 1069, ../sass/screen.scss */
.card-content p a {
  color: #9b9b9a;
  text-transform: capitalize;
  text-decoration: underline;
  margin-bottom: 15px;
}
/* line 1076, ../sass/screen.scss */
.card-content a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: #3482a5;
  font-size: 14px;
  font-weight: 600;
}

/* line 1086, ../sass/screen.scss */
.card-content p {
  font-size: 80%;
}

/* Flexbox stuff */
/* line 1129, ../sass/screen.scss */
.cards {
  display: flex;
  flex-wrap: wrap;
}

/* line 1134, ../sass/screen.scss */
.card {
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: .25rem 1em;
}
/* line 1138, ../sass/screen.scss */
.card img {
  width: 100%;
}

@media screen and (min-width: 40em) {
  /* line 1144, ../sass/screen.scss */
  .card {
    max-width: calc(50% - 1em);
  }
}
@media screen and (min-width: 60em) {
  /* line 1150, ../sass/screen.scss */
  .card {
    max-width: calc(25% - 1em);
  }
}
/* line 1155, ../sass/screen.scss */
.centered {
  margin: 0 auto;
  padding: 0 1em;
}

@media screen and (min-width: 52em) {
  /* line 1161, ../sass/screen.scss */
  .centered {
    max-width: 52em;
  }
}
@media screen and (max-width: 778px) {
  /* line 1167, ../sass/screen.scss */
  .card {
    flex: 1;
  }

  /* line 1170, ../sass/screen.scss */
  .datas {
    padding: 0 !important;
  }

  /* line 1173, ../sass/screen.scss */
  .media {
    flex-direction: column;
  }
  /* line 1175, ../sass/screen.scss */
  .media img {
    margin-left: 15px;
  }
  /* line 1180, ../sass/screen.scss */
  .media .user-name {
    margin-left: 15px;
  }
  /* line 1183, ../sass/screen.scss */
  .media .date {
    margin-left: 15px;
  }
  /* line 1186, ../sass/screen.scss */
  .media .media-body .nonstrike-holder * {
    margin-left: 15px;
  }
}
/* The container */
/* line 1211, ../sass/screen.scss */
.search-result {
  width: 100%;
  padding: 10px 0;
  background: #d8d8d8;
}
/* line 1215, ../sass/screen.scss */
.search-result h2 {
  padding-left: 20px;
  color: #2b2d2b;
  font-size: 30px;
}
/* line 1219, ../sass/screen.scss */
.search-result h2 span {
  font-weight: 300;
}

/* line 1227, ../sass/screen.scss */
.checkbox-holder {
  margin: 15px 0;
}

/*ΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇö
Global
ΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇö*/
/* line 1259, ../sass/screen.scss */
.timeline-carrier {
  font-family: helvetica;
  width: 80%;
  margin: 0 auto;
}

/*ΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇö
TimeLine CSS
ΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇö*/
/* Base */
/* line 1287, ../sass/screen.scss */
#content {
  margin-top: 50px;
  text-align: center;
}

/* line 1292, ../sass/screen.scss */
section.timeline-outer {
  width: 80%;
  margin: 0 auto;
}

/* line 1297, ../sass/screen.scss */
h1.header {
  font-size: 50px;
  line-height: 70px;
}

/* Timeline */
/* line 1318, ../sass/screen.scss */
.timeline-wrapper {
  margin-top: 40px;
  padding: 0 0 0 75px;
  background: #fff;
}

/* line 1324, ../sass/screen.scss */
.timeline {
  border-left: 4px solid #e5e5e5;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  color: #333;
  margin: 0 auto 50px;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 0;
  list-style: none;
  text-align: left;
}

/* line 1339, ../sass/screen.scss */
.timeline .event {
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

/* line 1346, ../sass/screen.scss */
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

/* line 1352, ../sass/screen.scss */
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

/* line 1359, ../sass/screen.scss */
.timeline .event:before {
  left: -40px;
  color: #666666;
  content: attr(data-date);
  text-align: right;
  font-weight: 700;
  font-size: 14px;
  top: 80px;
  background: #e5e5e5;
  padding: 5px 10px;
  margin: 0 auto;
}

/* line 1372, ../sass/screen.scss */
.timeline .event:after {
  left: -25px;
  background: #3cb1e6;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  content: "";
  background: url("../img/timeline/1.png") no-repeat;
  top: 20px;
  background-position: center;
  background-color: #3cb1e6;
}

/* line 1387, ../sass/screen.scss */
.timeline li.event:nth-child(4):after {
  background: url("../img/timeline/2.png") no-repeat;
  background-position: center;
  background-color: #3cb1e6;
}

/* line 1394, ../sass/screen.scss */
.timeline li.event:nth-child(5):after {
  background: url("../img/timeline/3.png") no-repeat;
  background-position: center;
  background-color: #3cb1e6;
}

/**/
/*ΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇö
Responsive Stuff
ΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇöΓÇö*/
@media (max-width: 1170px) {
  /* line 1425, ../sass/screen.scss */
  .timeline-wrapper {
    padding: 40px;
  }

  /* line 1428, ../sass/screen.scss */
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }

  /* line 1434, ../sass/screen.scss */
  .timeline h3 {
    font-size: 16px;
  }

  /* line 1437, ../sass/screen.scss */
  .timeline p {
    padding-top: 20px;
  }

  /* line 1440, ../sass/screen.scss */
  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  /* line 1447, ../sass/screen.scss */
  .timeline .event::before {
    top: 80px;
    left: -40px;
  }

  /* line 1451, ../sass/screen.scss */
  .timeline .event:nth-child(1)::before,
  .timeline .event:nth-child(3)::before,
  .timeline .event:nth-child(5)::before {
    top: 80px;
    left: -40px;
  }

  /* line 1457, ../sass/screen.scss */
  .timeline h3 {
    font-size: 16px;
  }

  /* line 1460, ../sass/screen.scss */
  .timeline p {
    padding-top: 20px;
  }
}
/* line 1465, ../sass/screen.scss */
.datas:first-child {
  padding-top: 25px;
}

/* line 1469, ../sass/screen.scss */
.datas:last-child {
  padding-bottom: 25px;
}

/* line 1473, ../sass/screen.scss */
.datas {
  padding: 0 25px;
  margin-left: 30px;
}

/* Hide the browser's default checkbox */
/* line 1512, ../sass/screen.scss */
.container {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: capitalize;
}

/* line 1526, ../sass/screen.scss */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  max-width: 100%;
}

/* Create a custom checkbox */
/* line 1551, ../sass/screen.scss */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #d8d8d8;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
/* line 1574, ../sass/screen.scss */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
/* Create the checkmark/indicator (hidden when not checked) */
/* line 1610, ../sass/screen.scss */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
/* line 1629, ../sass/screen.scss */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
/* line 1650, ../sass/screen.scss */
.container .checkmark:after {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 10px;
  background-color: #3cb1e6;
  border: solid #3cb1e6;
}

@media only screen and (max-width: 998px) {
  /* line 1666, ../sass/screen.scss */
  .container {
    display: block;
    margin: 10px 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1678, ../sass/screen.scss */
  .cd-side-nav > ul > li > a {
    padding: 10px;
  }

  /* line 1683, ../sass/screen.scss */
  .search-result h2 {
    font-size: 20px !important;
  }

  /* line 1687, ../sass/screen.scss */
  .inner {
    padding: 20px;
    background: #f2f2f2;
  }

  /* line 1691, ../sass/screen.scss */
  .cd-main-content .content-wrapper {
    padding: 45px 0 3em;
  }

  /* line 1694, ../sass/screen.scss */
  .cards {
    display: block;
  }

  /* line 1697, ../sass/screen.scss */
  .media .media-body h5 .tag {
    display: block;
    width: 50px;
    margin: 10px 0;
  }

  /* line 1702, ../sass/screen.scss */
  .card:hover {
    box-shadow: none;
    transition: .5s all ease;
  }
}

/*# sourceMappingURL=screen.css.map */
